    <div class="cardStack full" style="height: 585px; margin-top: 0px; margin-bottom: 30px;">
      <div class="hinttag">HINT</div>
      <div class="hinttitle">THREE TYPES OF SERVICE HOSTING</div>
      <div class="row">
        <div class="pod">
          <div class="icon type1"></div>
          <div class="hintsubtitle">NATIVE SDK HOSTED</div>
          <div class="hintsubsub"> Full Zero Trust - the ultimate in protection! Your data never
            leaves the address space of your application unencrypted.
          </div>
        </div>
        <div class="pod">
          <div class="icon type2"></div>
          <div class="hintsubtitle">ENDPOINT HOSTED</div>
          <div class="hintsubsub"> The service traffic leaves the Network at specified endpoints.
            This requires a endpoint running and enrolled.
          </div>
        </div>
        <div class="pod">
          <div class="icon type3"></div>
          <div class="hintsubtitle">ROUTER HOSTED</div>
          <div class="hintsubsub"> The service traffic leaves the Network at the Router. This
            requires a deployed router.
          </div>
        </div>
      </div>
      <div class="serviceexampleschart"></div>
    </div>

